<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Vesperr Bootstrap Template - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon" />
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/css/bids.css" rel="stylesheet" />
  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <script src="https://unpkg.com/phosphor-icons"></script>
        <div class="logo">
          <h1><a href="/">FP</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            {{#if user}}
              {{#if isClient}}
                <li><a class="nav-link scrollto" href="/post-job">Post Jobs</a></li>
              {{/if}}

              {{#if isEngineer}}
                <li><a class="nav-link scrollto" href="/job-list/all">Find Job</a></li>
              {{/if}}
            {{else}}
              <li><a class="nav-link scrollto" href="/post-job">Post Jobs</a></li>
              <li><a class="nav-link scrollto" href="/job-list/all">Find Job</a></li>

            {{/if}}

            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>

            <li><a
                class="nav-link scrollto"
                href="#portfolio"
              >Portfolio</a></li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>

            <li class="dropdown">
              <a href="#"><span>Account</span>
                <i class="bi bi-chevron-down"></i>
              </a>
              <ul>
                {{#if user}}
                  {{#if isClient}}
                    <li class="dropdown">
                      <a href="/client-profile/{{clientId}}"><span>User Profile</span>
                        <i class="bi bi-chevron-right"></i>
                      </a>
                      <ul>
                        <li><a href="#">Notifications</a></li>
                        <li><a
                            href="/client-profile/{{clientId}}"
                          >Profile</a></li>
                        <li><a href="/post-job">Post a Job</a></li>
                      </ul>
                    </li>
                    <li><a href="/logout">Logout</a></li>
                    <!-- Corrected the logout link -->
                  {{else}}
                    <li class="dropdown">
                      <a href="/profile/{{engineerId}}"><span>User Profile</span>
                        <i class="bi bi-chevron-right"></i>
                      </a>
                      <ul>
                        <li><a href="#">Notifications</a></li>
                        <li><a href="/profile/{{engineerId}}">Profile</a></li>
                        <li><a href="/job-list/all">Find a Job</a></li>
                      </ul>
                    </li>
                    <li><a href="/logout">Logout</a></li>
                    <!-- Corrected the logout link -->
                  {{/if}}
                {{else}}
                  <li><a href="/login">Login</a></li>
                  <li><a href="/select" class="btn-signup">Sign Up</a></li>
                {{/if}}
              </ul>

            </li>

            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

            <div class="search">
              <input type="text" class="search-box" placeholder="Search..." />
              <button class="search-btn"><i
                  class="ph-magnifying-glass-bold"
                ></i></button>
              <button class="close-btn"><i class="ph-x-bold"></i></button>
            </div>

            {{#if isClient}}
              <li>
                <a
                  class="getstarted scrollto"
                  href="/client-profile/{{clientId}}"
                >
                  <img
                    src="{{client.profilePicPath}}"
                    alt="Profile Picture"
                    class="rounded-circle profile-picture"
                  />
                  <span class="profile-name">{{client.full_name}}</span>
                </a>
              </li>
            {{/if}}

            {{#if isEngineer}}
              <li>
                <a class="getstarted scrollto" href="/profile/{{engineerId}}">
                  <img
                    src="{{engineer.profilePicPath}}"
                    alt="Profile Picture"
                    class="rounded-circle profile-picture"
                  />
                  <span class="profile-name">{{engineer.full_name}}</span>
                </a>
              </li>
            {{/if}}

          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->


    <div class="container">
            <h1>My Bids</h1>
            <p>Welcome, {{user.username}}!</p>
        </div>
    </header>

    <div class="bidcontainer">
        
        <hr>
          <div class="titleBid">
          <h2>Bid List</h2>
      </div>
      <hr>
      <ul>
            {{#each bids}}
              <li>
       
    <div class="container mt-5 mb-5">
      <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded bid-card">
               
                <div class="col-md-6 mt-1">
                    <h4>{{this.jobTitle}}</h5>
                    <h5>{{this.jobDeadline}}</h5>
                    
                    
                    <p class="text-justify text-truncate para mb-0">{{this.bidDetails}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">{{this.bidAmount}}</h4>
                    </div>
                  
                    
                </div>
        </div>
      </div>
      </div>
      </li>
            {{/each}}
        
        </ul>

           

        <!-- Container for Accepted Bids -->
      
    <hr>
          <div class="titleBid">
          <h2>Accepted Bids</h2>
      </div>
      <hr>
      <ul id="accepted-bids-list">
             
   <li>
       
    <div class="container mt-5 mb-5">
      <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded bid-card">
               
                <div class="col-md-6 mt-1">
                    <h4>{{this.jobTitle}}</h5>
                    <h5>{{this.jobDeadline}}</h5>
                    
                    
                    <p class="text-justify text-truncate para mb-0">{{this.bidDetails}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">{{this.bidAmount}}</h4>
                    </div>
                  
                    
                </div>
        </div>
      </div>
      </div>
      </li>

      
      </ul>

  
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../bids.js"></script>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

  </body>

</html>