<h2>Search Results for "{{query}}"</h2>

<h3>Engineers:</h3>
{{#if engineers.length}}
  <ul>
    {{#each engineers}}
      <li>
        {{this.full_name}} - {{this.website}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No engineers found</p>
{{/if}}

<h3>Clients:</h3>
{{#if clients.length}}
  <ul>
    {{#each clients}}
      <li>
        {{this.full_name}} - {{this.website}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No clients found</p>
{{/if}}

<h3>Jobs:</h3>
{{#if jobs.length}}
  <ul>
    {{#each jobs}}
      <li>
        {{this.jobTitle}} - {{this.jobLocation}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No jobs found</p>
{{/if}}
